body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}


header {
    background: #3498db;
    color: white;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info-medico, .info-enfermero {
    text-align: center;
}

.medico-card, .enfermero-card {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ECF0F1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.medico-card img, .enfermero-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.medico-details p, .enfermero-details p {
    margin: 5px 0;
    font-size: 16px;
}
